{% extends 'blog/home.html' %} {% load static %} {% block title %}Edit Post
{%endblock %} {% block content %}
<main>
  <style>
    .edit-post-form {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    .edit-post-title {
      color: #333;
      margin-bottom: 20px;
      text-align: center;
    }

    .btn-primary {
      background-color: #4942e4 !important;
      border-color: #4942e4 !important;
      color: #4942e4;
      transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
      background-color: #4942e4;
      border-color: #4942e4;
    }
  </style>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="edit-post-form">
          <h2 class="edit-post-title">Edit Post</h2>
          <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block mt-3">
              Update Post
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
